body{
	background-color: #872903;
	font-size:1em;
	padding-top:200px;
}

ul{
	background-color:#fff;
	list-style-type:none;
}

a:link{
	color:#ffb645;
	text-decoration: none;
}

a:visited{
	color:#ffb645;
	text-decoration: none;
}

a:hover{
	color:#faebd7;
	text-decoration:none;
}

a:active{
	color:#fff;
	text-decoration:none;
}

p {
	background-color:#fff;
	margin-top:0;
	margin-bottom:0;
}


/* Navigation */

nav {
	background-color: #872903;
	top:0;
	left:0;
	height:200px;
	width:100%;
	padding: 0px;
	position:fixed;
	z-index:100;


}

#logo{
	color: #ffb645;
	height:150px;
}

#appApple{
	height: 50px;
	float:left;
}

#appGoogle {
	height: 50px;
	float:right;

}

#MenuBar {
	background-color: #872903;
	margin-top:0;
}


/* End of Nav */


header{
	padding-top:20px;
	left:0;
	font-size:1em;
	height:100%;
}

#front {
	height:300px;
}

#fronttext {
	margin-top:0;
}

#Menu {
	padding-top:200px;
	z-index:100;
}

.HeaderTitle:hover, .HeaderTitle:active{
	color:#000;
	text-decoration:none;
}

.MenuTandoori, .MenuChicken, .MenuDinner, .MenuCurry, .MenuCombo, .MenuSide, .MenuBeverages, .MenuDessert {
	position:relative;
}

.SubTandoori, .SubChicken, .SubDinner, .SubCurry, .SubCombo, .SubSide, .SubBeverages, .SubDessert {
	position:absolute;
	top:20px;
	left:20px;
	width: 400px;
	z-index:1000;
}
