body{
	background-color: #872903;
	font-size:1em;
	font-family: "Lucida Sans Unicode", sans-serif;
	padding-top:200px;
}

ul{
	background-color:#fff;
	list-style-type:none;
}

a:link{
	color:#ffb645;
	text-decoration: none;
}

a:visited{
	color:#ffb645;
	text-decoration: none;
}

a:hover{
	color:#faebd7;
	text-decoration:none;
}

a:active{
	color:#fff;
	text-decoration:none;
}

h1 {
	font-size:3em;
}

h2 {
	font-size:2em;
}

p {
	background-color:#fff;
	margin-top:0;
	margin-bottom:0;
	font-size:1em;
}


/* Navigation */

nav {
	background-color: #872903;
	top:0;
	left:0;
	height:200px;
	width:100%;
	padding: 0px;
	position:fixed;
	z-index:100;


}

#logo{
	color: #ffb645;
	height:150px;
}

#appApple{
	height: 50px;
	float:left;
}

#appGoogle {
	height: 50px;
	float:right;

}

#MenuBar {
	background-color: #872903;
	margin-top:0;
}

/* End of Nav */


header{
	padding-top:20px;
	left:0;
	font-size:1em;
	height:100%;
}

#fronttext {
	margin-top:0;
	padding-bottom:250px;
	vertical-align:center;
}

#Menu {
	padding-top:200px;
	z-index:100;
	padding-bottom:200px;
	background-image:url(../img/menu.png);
	background-repeat:no-repeat;
	background-size:cover;
}

#MenuTitle {
	background-color:rgba(255,255,255,0.7);
	float:center;
	text-align:center;
}

.HeaderTitle:hover, .HeaderTitle:active{
	color:#000;
	text-decoration:none;
}

.MenuField {
	position:relative;
	background-color:rgba(255,255,255,0.7);
	padding-bottom:100px;

}
.MenuTandoori, .MenuChicken, .MenuDinner, .MenuCurry, .MenuCombo, .MenuSide, .MenuBeverages, .MenuDessert {
	display: inline-block;
	margin-left: -4px;
	width: 50%;
}

.SubTandoori, .SubChicken, .SubDinner, .SubCurry, .SubCombo, .SubSide, .SubBeverages, .SubDessert {
	position:absolute;
	display:inline-block;
	top:20px;
	left:20px;
	width: 50%;
	height: 100%;
	overflow: auto;
	z-index:1000;
	overflow:hidden;

}

#Directions {
	padding-top:200px;
	left:0;
	background-color:#fff;
	display:inline-block;
	padding-bottom:200px;
}


.close {
	float:right;
	font-size:5em;
	background-color:#787878;
	font color:#fff;

}

#Postcards {
	padding-top:200px;
	padding-bottom:200px;
	left:0;
	background-image:url(../img/postcards.jpg);
}